<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Danu Mental Health Support Group</title>
    <link rel="icon" href="/resources/images/Favicon.jpg" />
    <link rel="stylesheet" href="/resources/css/style.css" />
  </head>
  <body>
    <!-- header -->
    <header>
      <div class="logo">
        <img src="/resources/images/Favicon.jpg" alt="logo" />
        <h2>Danu</h2>
      </div>
      <div class="nav">
        <a href="#">About</a>
        <a href="#">Mission</a>
        <a href="#">Set Appointment</a>
        <a href="#">Services</a>
        <a href="#">FAQ</a>
        <a href="#">Contact Us</a>
      </div>
      <div class="main">
        <h1>Embrace Hope, Embrace Healing</h1>
        <p>
          Recovery starts with a single step. Together, we find strength in our
          struggles and courage in our stories. Let's journey toward healing,
          supporting each other along the way. You're not alone – we're in this
          together.
        </p>
        <img src="/resources/images/Helping.jpg" alt="helping sign" />
        <button>Set Appointment</button>
      </div>
    </header>

    <!-- About -->
    <section class="about-us">
      <h1>About Us</h1>
      <h3>Welcome to Danu Mental Health Support Group</h3>
      <p>
        At Danu, we believe in fostering a community that embraces mental
        wellness and supports individuals on their journey to healing. Named
        after the amharic word ዳኑ, getting healed after being taken care of, our
        support group embodies these values of care, understanding, and
        resilience.
      </p>
    </section>

    <!-- Mission -->
    <section class="mission">
      <h1>Mission</h1>
      <p>
        Our Mission Our mission at Danu is simple yet profound: to create a
        safe, inclusive space where individuals facing mental health challenges
        can find solace, understanding, and hope. We are committed to
        destigmatizing mental health issues and fostering a culture of empathy,
        support, and empowerment.
      </p>
    </section>

    <!-- Set Appointment -->
    <section class="set-a">
      <h2>
        Ready to take the first step toward prioritizing your mental health?
      </h2>
      <p>Fill out the form linked below and get started!</p>
      <button>Book an Appointment</button>
    </section>

    <!-- Services -->
    <section class="services">
      <h1>Services</h1>
      <p>
        At Danu Mental Health Support Group, we offer a range of compassionate
        services tailored to meet your mental health needs.
      </p>
      <ol>
        <li>Anxiety</li>
        <li>Depression</li>
        <li>ADHD</li>
        <li>OCD</li>
        <li>PTSD</li>
        <li>Grief</li>
      </ol>
    </section>

    <!-- FAQ -->
    <section class="faq">
      <h1>Frequently Asked Questions</h1>
      <p>Perhaps some of your questions are answered below</p>
      <div class="questions">
        <p>Are the sessions confidential?</p>
        <p>
          Yes, confidentiality is a cornerstone of our services. All discussions
          and information shared during our sessions are kept strictly
          confidential.
        </p>
        <p>How can I join a support group session?</p>
        <p>
          You can join our support group sessions by reaching out to us via our
          contact form or by scheduling an appointment.
        </p>
        <p>Are your counselors licensed professionals?</p>
        <p>
          Yes, our counselors and mental health professionals are qualified and
          licensed practitioners with expertise in various areas of mental
          health.
        </p>
        <p>How do I schedule an appointment?</p>
        <p>
          You can schedule an appointment by filling out our appointment request
          form on the website.
        </p>
      </div>
    </section>

    <!-- Contact Us -->
    <section class="contact-us">
      <h1>Contact Us</h1>
      <h3>
        Please feel free to reach out to us using the following contact
        information:
      </h3>
      <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required /><br /><br />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required /><br /><br />

        <label for="message">Message:</label><br />
        <textarea id="message" name="message" rows="6" required></textarea
        ><br /><br />

        <input type="submit" value="Submit" />
      </form>
    </section>
  </body>
</html>
